@import url(/static/style.css);

h1{
    padding:  10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #1c2c4c;
    color: white;
    border-style: solid;
    border-width: 10px;
    border-color: white;
}
#form_frente{

}

#form_fundo
{
    background-color: #1c2c4c;
    position: absolute;;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px ;
    margin: 0;
    

   
}

.separar{
    margin: 5px;
    
    
    
}
#btn_cadastro{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5cm;
    background-color: white;

}
.visualFundo{
    width: 100px;

    height: 200px;
    
}
#atributos{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color:#1c2c4c;
    display: block;
    width:75%;
    margin-left: 25%;
    margin-top: 0;
    margin-bottom: 2px;
    color: white;
    text-align: left;
    
}
#atributos.visu{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.btn-excluir{
    margin-right:30%;
    display: inline-block;
    padding: 0  30px;
    border-radius: 5cm;
}

#embaixo {
    position: absolute;
    margin: 25% 25% 0 0;
}
#form_fundo_visual{
    height: 20px;
    width: 200px;
}
