@import url(/static/style.css);
/*
.layoutTopo {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #1c2c4c;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;


}

.cadFreque {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 10px 100% 0 0;
    background-color: #1c2c4c;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

.cadFreque:hover {
    transform: scale(1.1)
}

.selecionarTabela form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1c2c4c;
    color: white;
    padding: 10px 100px;
    border-radius: 5px;
    width: 10px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;

}

#form_fundo_visual {
    display: inline-block;
    position: relative;
    display: inline-block;
    margin: -18.5% 2% 5% 17%;
    width: 1250px;
    height: 469px;
    background-color: #1c2c4c;
    color: white;
    overflow-y: scroll;
}

#atributos {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #1c2c4c;
    display: block;
    color: white;
    text-align: left;
}

#atributos.visu {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.entrar{
    margin-top: 10px;
}
.excluir{
    display: inline-block;
    position: relative;
    margin-left: -94%;
    border-radius: 5px;
    color: white;
    background-color: #1c2c4c;
}
.excluir:hover{
    transform: scale(1.2);

} */