<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/reset.css">
    <title>Adicionar novo usuario</title>
</head>
<body>
    <header> <img class="center" src="/static/logo.png"></header>

    <h1 class="bem-vindo">Cadastrar novo Usuario</h1>
    <form action="/add" class="form" method="post">
        <div class="login">
            <div class="col-md-6">
                <input type="text" name="nome" id="nome" placeholder="nome">

            </div>
            <div class="col-md-6">
                <input type="text" name="senha" id="senha" placeholder="senha">
            </div>
        </div>
        <div class=" row col-xs-12">
            <button type="submit" class="btn btn-block btn-sucess">Enviar</button>

        </div>
    </form>
    <footer id="rodape">
        <p> &copy;Powered by 2WP</p>
    </footer>
</body>
</html>