<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/reset.css">
    <title>Aluno</title>
</head>

<body>
    <header>
        <img class="center" src="/static/logo.png">
    </header>
    <h1 class="titulo">Dados das Cadeiras</h1>
    <table>
        <thead>
            <tr>
                {% for col in colunas_tabela %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in dados_tabela %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <form action="/aluno">
            <button type="submit" class="entrar">Voltar</button>
        </form>
    </div>
    <footer id="rodape">
        <p> &copy;Powered by 2WP</p>
    </footer>
</body>

</html>