<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/frequencia.css">
    <title>Frequencia</title>
</head>

<body>
    <header>
        <img class="center" src="/static/logo.png">
    </header>
    <h1 class="layoutTopo">FREQUÊNCIA</h1>
    <div class="selecionarTabela">
        <form action="/selecionarTabela" method="post">
            {% for resultado in list_table %}
            <label>
                <input type="checkbox" name="nome" value="{{resultado}}">
                {{resultado}}
            </label>
            {% endfor %}
            <button type="submit" class="entrar">Pesquisa</button>
        </form>
    </div>
    <div>
        <form action="/paginaCadCadeiras" method="post">
            <button type="submit" class="cadFreque">CADASTRAR CADEIRA</button>
        </form>
    </div>
    <div>
        <form action="/paginaCadFreq">
            <button type="submit">CADASTRAR ALUNOS</button>
        </form>
    </div>

    <div id="form_fundo_visual">
        <h2 id="atributos" class="visu">{{tabela}}</h2>
        <div class="visualFundo">
            {%if frequencia%}
            {%for i in frequencia%}
            <form action="/excluirFrequencia" method="post">
                <ul>
                    <input type="hidden" name="dado" value="{{i[0]}}">
                    <li id="atributos">NOME: {{i[0]}}</li>
                    <li id="atributos">MATRICULA: {{i[1]}}</li>
                    <li id="atributos">HORARIO: {{i[2]}}</li>
                </ul>
                <button type="submit" class="excluir">EXCLUIR</button>
            </form>
            {%endfor%}
            {%else%}
            <h2 id="atributos">Não existe frequencia</h2>
            {%endif%}
        </div>
    </div>
    <footer id="rodape">
        <p> &copy;Powered by 2WP</p>
    </footer>
</body>

</html>