<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/reset.css">
    <title>Frequência</title>
</head>

<body>
    <header>
        <img class="center" src="/static/logo.png">
    </header>
    <div>
        <h2 class="bem-vindo">Bem-Vindo!</h2>
        <div class="login">
            <p>Preencha abaixo para prosseguir</p>
            <form class="form">
                <label for="username">Username: </label>
                <input type="text" id="username" class="texto">
                <br>
                <label for="password">Password: </label>
                <input type="password" id="password" class="texto">
                <br>
                <input type="radio" name="opcao" id="professor" value="Professor" class="escolha">
                <label for="professor">Professor</label>

                <input type="radio" name="opcao"    id="aluno"  value="Aluno" class="escolha">
                <label for="aluno">Aluno</label>

                <br>
                <input type="submit" value="Entrar" class="entrar">
            </form>
        </div>
    </div>
    <footer id="rodape">
        <p> &copy;Powered by 2WP</p>
    </footer>
</body>

</html>