<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuário</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/reset.css">
</head>
<body>
    <header>
        <img class="center" src="/static/logo.png">
    </header>
    <div class="container">
        <div class="table">
            <div class="col-xs-12">
                <a href="/add" class="edit">Adicionar Usuario</a>
            </div>
            <br>
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th>nome</th>
                        <th>senha</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for e in estudantes %}
                        <tr>
                            <td>{{e.nome}}</td>
                            <td>{{e.senha}}</td>
                            <td>
                                <a href="/edit/{{e.id}}" class="edit">Editar</a> |
                                <a href="/delete/{{e.id}}" class="edit">Excluir</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% for e in estudantes%}
    <br>
    {% endfor%}
        <form action="/"><button class="entrar"> Clique aqui para voltar para a tela inicial</button></form>
    <footer id="rodape">
        <p> &copy;Powered by 2WP</p>
    </footer>
</body>
</html>