<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuário</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/reset.css">
</head>
<body>
    <header>
        <img class="center" src="/static/logo.png">
    </header>
    <div class="container">
            <br>
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
                <div class="entrar">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        
        <!-- Se houver mensagens flash de sucesso -->
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
                <div class="flash-message success">
                    {{ messages[0]}}
                </div>
            {% endif %}
        {% endwith %}

                <div>
                    <p>Preencha os campos a seguir</p>
                    <form class="form" method="POST">
                        <label for="username">Username:</label>
                        <input type="text" id="username"  class="texto" name="username" required placeholder="Nome Usuário"><br>

                        <label for="password">Senha:</label>
                        <input type="password" id="password" class="texto" name="password" required placeholder="Senha"><br>
                        
                        <label>Tipo de Usuário</label>
                        <input type="radio" id="professor" name="user" value="Professor" required>
                        <label for="professor">Professor</label>
                        <input type="radio" id="aluno" name="user" value="Aluno" required>
                        <label for="aluno">Aluno</label>
                        <br><br><br>

                        <input type="submit" class="entrar" value="Cadastrar">
                    </form>
        <div>
            <form action="/"><button class="entrar"> Clique aqui para voltar para a tela inicial</button></form>
      
    <footer id="rodape">
        <p> &copy;Powered by 2WP</p>
    </footer>
</body>
</html>




<!-- <label for="username">Username:</label>
                        <input type="text" id="username" name="username" class="texto" required><br>
                        
                        <label for="password">Senha:</label>
                        <input type="password" id="password" name="password" class="texto" required placeholder="********"><br>

                        <label for="pessoa">Pessoa</label>
                        <input type="text" id="pessoa" name="pessoa"  class="texto" placeholder="Professor/Aluno" required><br>
                        <input type="submit" class="entrar" value="Cadastrar"> -->