<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuário</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/reset.css">
</head>
<body>
    <header>
        <img class="center" src="/static/logo.png">
    </header>
    <div class="container">
            <br>
                <div class="login">
                    <p>Preencha os campos a seguir</p>
                    <form class="form" method="POST">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required placeholder="Nome Usuário"><br>

                        <label for="password">Senha:</label>
                        <input type="password" id="password" name="password" required placeholder="Senha"><br>

                        <!-- <label for="tipo_pessoa">Tipo Usuário</label>
                        <input type="text" id ="tipo_pessoa" name="tipo_pessoa" required placeholder="Aluno/Professor"><br> -->
                        <input type="submit" class="entrar" value="Cadastrar">
                    </form>

        <form action="/"><button class="entrar"> Clique aqui para voltar para a tela inicial</button></form>
    <footer id="rodape">
        <p> &copy;Powered by 2WP</p>
    </footer>
</body>
</html>